$color-light: rgba(110, 198, 255);
$color-medium: rgba(51, 154, 240);
$color-dark: rgba(28, 126, 214);

$color-orange-light: #ffb900;
$color-red-light: #ff7730;

$color-light-1: #2998ff;
$color-light-2: #5643fa;

$color-grey-light-1: #f7f7f7;

$color-white: white;
$color-gray: gray;
$color-black: rgba(0, 0, 0);

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$font-size: 1.6rem;
